* {
  color: #F2F2F2;
}

.span-filler-editor {
  height: 8vh;
}

.main-editor {
  height: 100vh;
}

.end-session {
  text-align: right;
}

.end-session-button {
  width: 150px;
  margin: 0;
  padding: 0;
}

.code-text {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.margin-0 {
  margin: 0;
  padding: 0;
}

#myChat {
  background-color: #282c34;
}

.chat-popup {
  margin-top: 10px;
  background-color: #ffffff;
  bottom: 80px;
  display: none;
  /* position: relative; */
  border-radius: 10px;
  height: 300px;
  float: right;
  width: 100%;
  color: #282c34;
  /* text-align: right; */
}

.open-button {
  bottom: 80px;
  /* display: none; */
  border-radius: 10px;
  position: fixed;
  margin-left: 80%;
  width: 100px;
  background-color: azure;
}

.input-group {
  position: absolute;
  bottom: 0;
}